{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
   {% if photos is defined %}
		<div class="container text-center mt-3">
			<div class="col-md-12">
				<div class="row row-cols-lg-5 row-cols-md-3 row-cols-2 g-0 mh-25 mw-25">
					{% for photo in photos %}
						<div class="col">
							<div class="img-container">
							{% set formatted_date = photo.date|date("d F Y") %}
								<a href="#" data-photo-id="{{photo.id}}" data-photo-url="{{photo.link}}" data-photo-prompt="{{photo.prompt}}" data-photo-title="{{photo.title}}" data-photo-description="{{photo.description}}" data-photo-date="{{formatted_date}}"  ><img src="{{photo.link }}" alt="" class="img-fluid img-fit pop-up-image"></a>
								<div class="img-title">{{photo.title}}</div>
							</div>
						</div>
					{% endfor %}
		
	{% else %}
		<li>Nothing to display</li>
	{% endif %}
    {% block javascripts %}
     {{ encore_entry_script_tags('app_photo_index') }}
     {% endblock %}
{% endblock %}
