{{ form_start(form, {'attr': {'id': 'new_edit_utilisateur', 'class': 'needs-validation'}}) }}
<div class="mb-3">
    {{ form_label(form.username, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.password, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
</div>
<button class="btn btn-success">{{ button_label|default('Register') }}</button>
{{ form_end(form) }}
